<h1>Search for a Game</h1>

<div id="errors"></div>

  <div id="search">
    <%= form_tag(games_path, :method => "get", id: "searchTerms") do %>
      <%= text_field_tag id: "searchTerms" :search, params[:search], placeholder: "Search Games" %>
      <%= submit_tag "Search" %>
    <% end %>
  </div>

  <div id="results">

  <% if @games.present? %>
    <%= render @games %>
  <% else %>
    <p>There are no games containing the term(s) <%= params[:search] %>.</p>
  <% end %>
  </div>

  <div id="manual-entry">
    <h2> Or add manually: </h2>

    <%= render 'form', game: @game, game_attribute: GameAttribute.new %>
    </div>

  <%= link_to 'Back', games_path %>


  <script src="jquery-3.1.0.min.js"></script>
  <script src="index.js"></script>
